/* Making the sidebar in settings page compact and expand on hover */

@media -moz-pref("compact-settings.enabled") {
  @-moz-document url-prefix("about:preferences"), url-prefix("about:settings") {
    #preferences-stack {
      vbox.navigation {
        position: absolute !important;
        height: 100vh !important;
        z-index: 20 !important;
        width: auto !important;
        padding: 10px !important;

        #searchInput {
          @media -moz-pref("compact-settings.animation.enabled") {
            transition: width 100ms ease-in-out !important;
          }
          overflow-x: hidden !important;
          margin: 20px 0 !important;
          padding-left: 12px !important;
          width: 40px !important;
        }

        #categories {
          margin: 0 !important;
          padding: 0 !important;
          width: 40px !important;
          overflow-x: hidden !important;

          .category {
            margin-left: 10px !important;
            padding: 0 8px !important;
            width: 250px !important;

            &[selected="true"] {
              color: var(--zen-primary-color) !important;
            }
          }
        }

        vbox.sidebar-footer-list {
          margin-left: 13px !important;
          width: 35px !important;
          overflow-x: hidden !important;
          .sidebar-footer-icon {
            margin: 0 8px !important;
            scale: 1.4 !important;
          }

          .sidebar-footer-label {
            font-size: 16px !important;
          }
        }

        &:has(#searchInput:focus),
        &:hover {
          #categories,
          #searchInput,
          .sidebar-footer-list {
            width: 250px !important;
          }
        }
      }
    }
  }
}
